*.m
*.jvc
*.pyc
build/
*.txt
/setup.cfg

dist/*
masking_tutorial/.ipynb_checkpoints
openpiv/masking_tutorial/.ipynb_checkpoints
.eggs
*.pyd
OpenPIV.egg-info
*.ipynb_checkpoints*
.vscode/settings.json
*.so

tmp.png
openpiv/examples/notebooks/*.html
openpiv/examples/notebooks/test_3d/
Open_PIV_results_*
openpiv/docs/.vscode/
openpiv/examples/.vscode/settings.json
