*.m
*.jvc
*.pyc
build/
*.txt
/setup.cfg

dist/*
masking_tutorial/.ipynb_checkpoints
openpiv/masking_tutorial/.ipynb_checkpoints
.eggs
*.pyd
OpenPIV.egg-info
*.ipynb_checkpoints*
.vscode/settings.json
*.so

# conda smithy ci-skeleton start
*.pyc

build_artifacts
# conda smithy ci-skeleton end
