os:
  - linux

sudo: false

language: python

python:
  - 2.7
  - 3.6

before_install:
    # http://conda.pydata.org/docs/travis.html#the-travis-yml-file
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda env create
    - source activate openpiv

install:
    - python setup.py build_ext --inplace
    - python setup.py install

script:
    - py.test
