include *.md
include *.txt
include INSTALL
include LICENSE.txt
include MILESTONES
include TODO

recursive-include openpiv/tutorials *
recursive-include openpiv/test *
recursive-exclude openpiv/data *
recursive-exclude openpiv/docs *
recursive-exclude openpiv/test/__pycache__ *
recursive-exclude openpiv/examples/notebooks/.ipynb_checkpoints *


recursive-include openpiv *.bmp
recursive-include openpiv *.c
recursive-include openpiv *.ipynb
recursive-include openpiv *.pdf
recursive-include openpiv *.png
recursive-include openpiv *.py
recursive-include openpiv *.pyx
recursive-include openpiv *.rst
recursive-include openpiv *.tif

