attrs
backcall
certifi
cycler
decorator
gitdb
GitPython
imageio
importlib-metadata
iniconfig
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
natsort
networkx
numpy
packaging
parso
pexpect
pickleshare
Pillow
pluggy
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
pytest
python-dateutil
PyWavelets
scikit-image
scipy
six
smmap
tifffile
toml
tqdm
traitlets
typing-extensions
watermark
wcwidth
zipp
