name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11","3.12"]
        poetry-version: [1.5.0]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.2.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      uses: abatilo/actions-poetry@v3.0.0
      with:
          poetry-version: ${{ matrix.poetry-version }}
    - name: Install the project dependencies
      run: poetry install
    - name: Run the automated tests (for example)
      run: poetry run pytest openpiv -v
